@import url(css/layout.css);
@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

li
{
    list-style: none;
    display: inline-block;
}

a
{
    border-radius: 50%;
    display: inline-block;
    text-decoration: none;
}

ul
{
    display: inline-block;
}